{% extends 'layout.twig' %}

{% block body %}
<form method="post" action="/login/process">
    <input id="username" name="username" type="text"/>
    <input id="password" name="password" type="password"/>
    <input id="submit" value="submit" type="submit"/>
</form>
{% endblock %}